[defaults]
inventory               = inventory/hosts.yml
roles_path              = roles
host_key_checking       = True
retry_files_enabled     = False
forks                   = 10
stdout_callback         = yaml
callbacks_enabled       = ansible.posix.profile_tasks, ansible.posix.timer
gathering               = smart
fact_caching            = jsonfile
fact_caching_connection = .ansible_facts
fact_caching_timeout    = 7200
interpreter_python      = auto_silent
nocows                  = True
deprecation_warnings    = True

# Always decrypt SOPS-encrypted inventory vars on the fly.
vars_plugins_enabled    = host_group_vars,community.sops.sops

[inventory]
enable_plugins          = yaml, ini, host_list

[ssh_connection]
pipelining              = True
ssh_args                = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
control_path            = /tmp/ansible-ssh-%%h-%%p-%%r
